body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #323232;
    color: white;
}

.hidden {
    display: none;
}

.content {
    margin: 8px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background: #474747;
    padding: 6px;
    border-radius: 1rem;
    margin: 5px;
}

hr {
    border-style: solid;
}

button {
    font-size: 24px;
    background: #ff3a31;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 1.5rem;
    transition: ease 0.3s;
}

button:hover {
    border-radius: 0.8rem;
    cursor: pointer;
    background: #ffffff;
    color: #ff3a31;
}

.editorcontainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

.squarebutt {
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 18px;

    align-items: center;
    justify-content: center;
}

.squarebutt:hover {
    .icon-mask {
        background-color: #ff3a31;
    }
}

.icon-mask {
    width: 30px;
    height: 30px;

    background-color: white;

    mask-image: url('img/reload.png');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    transition: ease 0.3s;
}

.save {
    .icon-mask {
        mask-image: url('img/save.png');
    }
}

.load {
    .icon-mask {
        mask-image: url('img/load.png');
    }
}

.editor {
    display: grid;
    gap: 1px;
}

.cell {
    width: 45px;
    height: 45px;

    transition: ease 0.1s;
}

.cell:hover {
    border-radius: 0.7rem;
    cursor: pointer;
}

.grass {
    background: url('img/grass.png');
    background-size: cover;
}

.road {
    background: url('img/road.png');
    background-size: cover;
}

.water {
    background: url('img/water.png');
    background-size: cover;
}