body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.content {
    margin: 8px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background: #323232;
    padding: 10px;
}

hr {
    border-style: solid;
}

.headerbutton {
    font-size: 24px;
    background: #ff3a31;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 1.5rem;
    transition: ease 0.3s;
}

.headerbutton:hover {
    border-radius: 1rem;
    cursor: pointer;
    background: #ffffff;
    color: #ff3a31;
}

#cell {
    width: 50px;
    height: 50px;
}

.grass {
    background-color: green;
}

.road {
    background-color: #5a5a5a;
}

.water {
    background-color: dodgerblue;
}