body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.content {
    margin: 8px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background: #323232;
    padding: 6px;
}

hr {
    border-style: solid;
}

.headerbutton {
    font-size: 24px;
    background: #ff3a31;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 1.5rem;
    transition: ease 0.3s;
}

.headerbutton:hover {
    border-radius: 0.8rem;
    cursor: pointer;
    background: #ffffff;
    color: #ff3a31;
}

.editorcontainer {
    display: flex;
    justify-content: space-around;
}

.editor {
    display: grid;
    gap: 1px;
}

.cell {
    width: 45px;
    height: 45px;

    transition: ease 0.1s;
}

.cell:hover {
    border-radius: 0.7rem;
    cursor: pointer;
}

.grass {
    background: url('img/grass.png');
    background-size: cover;
}

.road {
    background: url('img/road.png');
    background-size: cover;
}

.water {
    background: url('img/water.png');
    background-size: cover;
}