<div class="menucontainer">
    <form class="newmap">
        <input required placeholder="My Track Design..." class="newmapinput" name="newname" type="text" />
        <button class="newmapbutt" type="submit">New Map</button>
    </form>
    <form class="loadmap">
        <select required class="loadmapselect" name="selectedtrack">
            <option value="" disabled selected>Select a map...</option>
        </select>
        <button class="loadmapbutt" type="submit">Load Map</button>
    </form>
</div>