<div class="editorcontainer">
    <input type="file" id="fileInput" accept=".json" style="display: none;">
<div class="editor"></div>
    <div class="anothercontainer">
        <h1>MapName</h1>
        <div class="buttoncontainer">
            <button class="loadfromfile squarebutt" title="Load data from a .json file"><span class="icon-mask"></span></button>
            <button class="savetofile squarebutt" title="Save data to a .json file"><span class="icon-mask"></span></button>
            <button class="save squarebutt" title="Save locally to your browser"><span class="icon-mask"></span></button>
            <button class="load squarebutt" title="Load locally saved data"><span class="icon-mask"></span></button>
            <button class="reset squarebutt" title="Resets the editor"><span class="icon-mask"></span></button>
        </div>
    </div>
</div>