<div class="editorcontainer">
<div class="editor"></div>
    <div class="anothercontainer">
        <h1>MapName MapName MapName MapName MapName MapName MapName </h1>
        <div class="buttoncontainer">
            <button class="savetofile squarebutt"><span class="icon-mask"></span></button>
            <button class="save squarebutt"><span class="icon-mask"></span></button>
            <button class="load squarebutt"><span class="icon-mask"></span></button>
            <button class="reset squarebutt"><span class="icon-mask"></span></button>
        </div>
    </div>
</div>